.fishes {
    display: flex;
    background-color: #B7CBF5;
    margin: 1em 1em 1em 2em;
    flex-direction: column;
}

.fish__title {
    margin: auto;
}

.fishes__fish {
    display: flex;
    padding: 0em 2em;
}

.fish {
    display: flex;
    flex-direction: column;
    margin: 0em 1em 1em 1em;
}

.fish__image {
    width: 200px;
    height: 200px;
    margin: auto;
}

.fish__text {
    margin: auto;
}