.locations {
    display: flex;
    background-color: #B7CBF5;
    margin: 1em 1em 1em 2em;
    flex-direction: column;
}

.locations__title {
    margin: auto;
}

.locations__location {
    display: flex;
    padding: 0em 2em;
    justify-content: space-evenly;
}

.location {
    display: flex;
    flex-direction: column;
    margin: 0em 1em 1em 1em;
}

.location__image {
    width: 200px;
    height: 200px;
    margin: auto;
}

.location__text {
    margin: auto;
}